*
  box-sizing: border-box
  margin: 0
  padding: 0
  scroll-behavior: smooth
body 
  font-family: "Roboto", sans-serif
  font-size: 16px
a
  text-decoration: none
li 
  list-style: none
input 
  outline: none
label
  font-weight: 400
  font-size: 12px
  line-height: 117%
  letter-spacing: 0.04em
  color: #8e8f99
textarea
  resize: none
  outline: none
.arrow
  display: block
  width: 24px
  height: 24px
  margin-left: auto
  margin-right: 50px
  margin-bottom: 50px
.container
  max-width: 1128px
  margin: 0 auto
.header
  margin: 0 auto
  padding: 24px 0
  display: flex
  justify-content: space-between
  align-items: center
.nav
  margin-left: 76px
  &-list 
    display: flex
    align-items: center
  &-item 
    position: relative
  &-item:not(:last-child)
    margin-right: 40px
  &-link 
    color: #2e2f42
    font-weight: 500
    font-size: 16px
    line-height: 150%
    letter-spacing: 0.02em
  &-item::after
    content: ''
    height: 4px
    width: 0px
    border-radius: 2px
    background: #404bbf
    position: absolute
    bottom: -26px
    right: 0%

  &-item:hover::after
    width: 100%
    transition: .1s
.contacts
  display: flex
  margin-left: auto
  &-item 
    position: relative
  &-item:not(:last-child)
    margin-right: 40px
  &-link 
    color: #434455
    font-weight: 400
    font-size: 16px
    line-height: 150%
    letter-spacing: 0.02em
  &-link:not(:last-child)
    margin-right: 40px
  &-item::after
    content: ''
    height: 4px
    width: 0px
    border-radius: 2px
    background: #404bbf
    position: absolute
    bottom: -26px
    right: 0%
  &-item:hover::after
    width: 100%
    transition: .1s

.hero
  background-image: url('../img/hero-bg.jpg') 
  background-repeat: no-repeat
  background-size: cover
  padding: 188px 0
.title
  font-weight: 700
  font-size: 56px
  line-height: 107%
  letter-spacing: 0.02em
  text-align: center
  color: #fff
  margin-bottom: 48px
.button
  display: block
  margin: 0 auto
  padding: 16px 32px
  border-radius: 4px
  background-color: #4d5ae5
  border: none 
  cursor: pointer
  color: #fff
  font-weight: 500
  font-size: 16px
  line-height: 150%
  letter-spacing: 0.04em
.button:hover
  background-color: lighten(#4d5ae5, 3%)
.benefits
  padding: 120px 0
  &-title 
    font-weight: 500
    font-size: 20px
    line-height: 120%
    letter-spacing: 0.02em
    color: #2e2f42
    margin-bottom: 8px
  &-description
    font-weight: 400
    font-size: 16px
    line-height: 150%
    // letter-spacing: 0.02em
    color: #434455
.cards
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
.card
  background-color: #fff
  width: 264px
  &-image 
    box-shadow: 0 4px 4px 0 rgba(0, 4, 4, 0.25)
    margin-bottom: 8px
  &-wrapp 
    padding: 0 16px
.card:not(:last-child)
  margin-right: 24px
.team
  padding: 120px 0
  background-color: #f4f4fd  
  &-title 
    font-weight: 700
    font-size: 36px
    line-height: 111%
    letter-spacing: 0.02em
    text-transform: capitalize
    text-align: center
    margin-bottom: 72px
    color: #2e2f42
  &-subtitle
    font-weight: 500
    font-size: 20px
    line-height: 120%
    letter-spacing: 0.02em
    text-align: center     
    color: #2e2f42
    margin-top: 32px
    margin-bottom: 8px
.proff
  text-align: center
  margin-bottom: 8px
.social
  &-list
    display: flex
    justify-content: space-between
    align-items: center
  &-list:not(:last-child)
    margin-right: 24px
.portfolio
  padding: 120px 0
.mb 
  margin-bottom: 40px
.footer
  padding-top: 100px
  padding-bottom: 132px
  background-color: #2e2f42
  &-wrapper 
    display: flex
    justify-content: space-between
    align-items: center
  &-description
    font-weight: 400
    font-size: 16px
    line-height: 150%
    letter-spacing: 0.02em
    color: #f4f4fd
    width: 264px
    margin-right: 120px
  &-title 
    font-weight: 500
    font-size: 16px
    line-height: 150%
    letter-spacing: 0.02em
    color: #fff
    margin-bottom: 16px
  &-list 
    display: flex
    align-items: center
  &-item:not(:last-child)
    margin-right: 16px
  &-group
    display: flex
    align-items: center
    justify-content: space-between
  &-button 
    display: flex
    border: none
    border-radius: 4px
    padding: 8px 24px
    background-color: #4d5ae5
    font-weight: 500
    font-size: 16px
    line-height: 150%
    letter-spacing: 0.04em
    text-align: center
    color: #fff
    cursor: pointer
  &-button:hover
    background-color: lighten(#4d5ae5, 3%)
.mail
  margin-right: 24px
  border-radius: 4px
  padding: 8px 16px
  border: 2px solid #7b8187a1 
.send
  margin-left: 16px
.social
  &-media
    margin-right: 80px
.overlay
  display: none
  background: rgba(46, 47, 66, 0.5)
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 100vh
.modal
  &-wrap
    display: flex
    justify-content: center
    align-items: center 
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
  &-body
    display: flex
    flex-direction: column
    padding: 24px 
    background: #fff
    img 
      position: absolute
      right: 24px
      width: 24px
      height: 24px
  &-title 
    font-weight: 500
    font-size: 16px
    line-height: 150%
    letter-spacing: 0.02em
    text-align: center
    margin-top: calc( 72px - 24px )
    margin-bottom: 16px
    color: #2e2f42
  &-form
    display: flex
    justify-content: center
    flex-direction: column
    margin: 0 auto
.name
  background-image: url(../img/icon/human.svg)
  background-repeat: no-repeat
  background-position: 6px center
  padding: 16px calc(8px + 24px)
  border-radius: 4px
  width: 360px
  border: 1px solid #4D5AE5
  margin-bottom: 8px
.phone
  background-image: url(../img/icon/phone.svg)
.form-mail
  background-image: url(../img/icon/mail.svg)
.text
  background-image: none
  min-height: 120px
  padding: 8px 16px
  margin-bottom: 16px
.form
  &-btn 
    border-radius: 4px
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2)
    border: none
    cursor: pointer
    padding: 16px 32px
    background:#4d5ae5
    color: #fff
    margin: 0 auto
  &-check 
    display: flex
    align-items: center
    margin-bottom: 24px
    .form-item
      p
        font-weight: 400
        font-size: 12px
        line-height: 117%
        letter-spacing: 0.04em
        color: #8e8f99
        margin-left: 8px
        a 
          text-decoration: underline
          color: #4d5ae5
.is-open
  display: block
     